*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Custom */
:root {
    --clr-orange: hsl(25, 97%, 53%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-light-grey: hsl(217, 12%, 63%);
    --clr-blue: hsl(215, 30%, 30%);
    --clr-dark-blue: hsl(213, 19%, 18%);
    --clr-very-dark-blue: hsl(216, 12%, 8%);

    --fw-light: 100;
    --fw-normal: 400;
    --fw-bold: 700;
}

html,
body {
    width: 100%;
    height: 100%;
}

/* General */
body {
    /* Text */
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    font-weight: var(--fw-light);
    color: var(--clr-white);

    /* Background */
    background-color: var(--clr-very-dark-blue);

    /* Alignment */
    display: grid;
    grid-template-rows: 95%;
    place-items: center;
}

h1 {
    font-size: 32px;
    margin-bottom: 0;
}

.aligned-center {
    text-align: center;
    justify-content: center;
}

@media (min-width: 700px) {
    body {
        font-size: 20px;
    }

    h1 {
        font-size: 52px;
    }
}

/* Box */
.grid-box {
    display: grid;
    align-content: center;
    max-width: 500px;
    background-color: var(--clr-dark-blue);
    border-radius: 1em;
    padding: .75em;
}

.grid-item {
    margin: .55em;
}

/* Circle/Star Image */
.circle {
    background-color: var(--clr-blue);
    display: inline-block;
    position: relative;
    left: -25px;
    top: 8px;
    width: 25px;
    height: 25px;
    border-radius: 50%;;
}

.star {
    z-index: 1;
}

/* Numbers */
input[type="radio"] {
    appearance: none;
    background-color: var(--clr-blue);
    margin: auto 10px;
    width: 1.15em;
    height: 1.15em;
    border-radius: 50%;
    display: inline-block;
    place-content: center;
}

input[type="radio"]:hover {
    background-color: var(--clr-light-grey);
}

input[type="radio"]:checked {
    background-color: var(--clr-orange);
}

/* Submit */
.submit-button {
    color: var(--clr-white);
    border-radius: 1rem;
    font-size: 1em;
    font-family: inherit;
    background-color: var(--clr-orange);
    border-color: var(--clr-orange);
    text-transform: uppercase;
    padding: 10px 5em;
    border-width: thin;
    width: 100%
}

.submit-button:hover {
    color: var(--clr-orange);
    background-color: var(--clr-white);
}

#thank-you-box {
    display: none;
}

/* Selection */
.selected {
    color: var(--clr-orange);
    border-radius: 1em;
    padding: .75em;
    background-color: var(--clr-blue);
}

/* Attribution */
.attribution {
    position: relative;
    margin-bottom: 0px;
    width: 100%;
    text-align: center;
    font-size: 11px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}